<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="calculator">
            <form method="post">
            <div class="display">
                <input type="hidden" id="expressaoOculta" name="expressao">
                <input type="text" name="expressao" id="display" placeholder="..." value="{{ expressao }}" readonly>
                <div class="resultado">{{ resultado }}</div>
            </div>
            <div class="botoes">
                {% for linha in [
                    ['7', '8', '9', '+'],
                    ['4', '5', '6', '-'],
                    ['1', '2', '3', '*'],
                    ['0', '.', '/', 'DEL'],
                    ['=']
                    ] %}
                <div class="linha">
                    {% for btn in linha %}
                            {% if btn == '=' %}
                                <button type="submit">=</button>
                            {% elif btn == 'DEL' %}
                                <button type="button" onclick="limpar()">{{ btn }}</button>
                            {% else %}
                                <button type="button" onclick='adicionar("{{ btn }}")'>{{ btn }}</button>
                            {% endif %}
                        {% endfor %}
                </div>
                {% endfor %}
            </div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>